<main>
    <article>
        <ul><img
                id="pic"
                src="https://www.whitechapelgallery.org/wp-content/uploads/2020/07/blank-head-profile-pic-for-a-man.jpg"
                alt=""
            /></ul>
        <H1>Hi, my name is&nbsp
            <span id="name">Nikolay Toshev </span>
        </H1>
        <div id="about-me">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ad explicabo facilis
                qui eligendi obcaecati dignissimos, rem dicta veniam, nihil inventore beatae dolorem
                id ratione dolore quo? Nam, placeat illum.</p>
        </div>
    </article>
</main>