@import url(https://fonts.google.com/specimen/Josefin+Sans?preview.size=50);

body {
    color: rgba(206, 204, 204, 0.795);
    background-image: url(/images/1675377232245.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: sans-serif, "Josefin Sans";
}

.nav {
    display: flex;
    list-style: none;
    font-size: 35px;
    margin-left: 900px;
}

.nav-list {
    display: inline;
    float: left;
    padding-right: 30;
}
.nav-element {
    float: left;
    text-decoration: none;
    list-style: none;
    color: darkgray;
}

/* footer */
.footer {
    display: flex;
}
/* profile */

span {
    color: rgb(241, 177, 56);
}
h1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 50;
    flex-direction: column;
    padding: 30;
    margin-left: 700px;
}
#pic {
    float: unset;
}

#name {
    font-size: 20en;
}

#about-me{
    display: flex;
}