.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

p {
    font-style: italic;
}

body {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
